<a href="home.html">temp back button</a>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <title>Politic Bot</title>
    <script type="text/javascript" src="chat.js"></script>
    <script type="text/javascript" src="../scripts/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <div id="chat" class="box chat-box">
      <h1 class="bot-name">Canada Federal Bot</h1>
    
      <div class="chat bot-chat"> 
        <p>Welcome to the Canada Federal Bot!</p>
      </div>

      <div class="chat bot-chat"> 
        <p>Here are the available topics to search about:</p>
      </div>

      <div class="chat bot-chat"> 
        <p>0. Exit</p>
        <p>1. Bills</p>
        <p>2. Votes</p>
        <p>3. Politicians</p>
        <p>4. Debates</p>
        <p>5. Committees</p>
      </div>
    
      <div class="input-area">
        <input placeholder="Type message.." id="input" class="input-chat" type="text" required></input>
        <button id="send" onclick="parse();"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </body>
