<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <title>Politic Bot</title>
    <script type="text/javascript" src="../scripts/client.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="outer-box">
      <div class="box chat-box">
        <h1 class="bot-name">Canada Federal Bot</h1>
        <div class="box">
          <h3>Description:</h3>
          <p>
            This bot via the
            <a href="https://openparliament.ca/api/" target="_blank"
              >OpenParliment API</a
            >
            provides Federal political information for Canada. There are
            currently five main supported topics:
          </p>
          <ul>
            <li>
              <i>Bills:</i> Statuses of bills within Canadian history including
              both government and private memebr bills
            </li>
            <li>
              <i>Votes:</i> Votes of bills within Canadian history with details
              such as number of 'YEA' vs 'NAY' and if the bill was passed or
              defeated
            </li>
            <li>
              <i>Member of Parliment (MP):</i> List of current Canadian MPs
              along with the riding and party they represent
            </li>
            <li>
              <i>Debates:</i> Debates held within the House of Commons and their
              topics
            </li>
            <li>
              <i>Committees:</i> List of committees and in which sessions were
              they active
            </li>
          </ul>
          <h3>How to Use:</h3>
          <p>
            Start with the START button below! Using one of the five mentioned
            topics above, you may enter filter criterias for particular bills,
            vote counts, member of parliments, debates or committees
          </p>
          <h3>Examples:</h3>
          <ul>
            <li>
              Look up bill C-11: An act to amend the Canadian Broadcasting Act
            </li>
            <li>Find the status of bill C-294 within the 44-1 session</li>
            <li>
              Find the riding represented by the The Right Honourable Chrystia
              Freeland
            </li>
            <li>Look at the recent debate on December 12, 2022</li>
            <li>See when the Ethics committee last met</li>
          </ul>
        </div>
        <div class="start-button-box">
          <button class="start-button" onclick="startConnection()">
            Start
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
